

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index'%}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-wallet"></i>
        </div>
        <div class="sidebar-brand-text mx-2">Easy Expense Tracker </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" id="dashboard">
        <a class="nav-link" href="{% url 'index'%}">
            <i class="fas fa-fw fa-chart-pie"></i>
            <span>Dashboard</span></a>
    </li>
        <!-- Divider -->
    <hr class="sidebar-divider">

        <!-- Heading -->
    <div class="sidebar-heading">
            Manage
    </div>
    <li class="nav-item " id="category">
        <a class="nav-link" href="{% url 'category'%}">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>Category</span></a>
    </li>
    <li class="nav-item " id="mode">
        <a class="nav-link" href="{% url 'mode'%}">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Mode</span></a>
    </li>
    <li class="nav-item " id="transaction">
        <a class="nav-link" href="{% url 'transaction'%}">
            <i class="fas fa-fw fa-exchange-alt"></i>
            <span>Transaction</span></a>
    </li>
    <hr class="sidebar-divider">

    <!-- Heading -->
<div class="sidebar-heading">
        Reports
</div>

<li class="nav-item " id="import-report">
    <a class="nav-link" href="{% url 'importTransaction'%}">
        <i class="fas fa-fw fa-file-export"></i>
        <span>Import Report</span></a>
</li>

    <!-- Nav Item - Pages Collapse Menu -->




    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<script>
    const fullURL = window.location.href;

    const thirdSlashIndex = fullURL.indexOf('/', fullURL.indexOf('/') + 1);
    const fourthSlashIndex = fullURL.indexOf('/', thirdSlashIndex + 1);
    const fifthSlashIndex = fullURL.indexOf('/', fourthSlashIndex + 1);

    var option = fullURL.substring(fourthSlashIndex + 1, fifthSlashIndex);
    console.log(option)
    if (option !="http://127.0.0.1:8000/")
    {
        const element = document.getElementById(option).classList.add("active");

    }
    else if (option =='report')
    {
        const element=document.getElementById('importReport').classList.add('active');
    }
    else{
        const element = document.getElementById("dashboard").classList.add("active");
    }

</script>